.baseball {
  background-color: rgb(255, 103, 103);
  color: white;
  margin: 2px;
  padding: 5px;
  border-radius: 5px;
}

.strike {
  background-color: rgb(64, 169, 64);
}

.ball {
  background-color: rgb(255, 236, 93);
}


